<div>

    <h3>Hii Thanks for using Authenticator! Please reset your password with given Link.</h3>
    <a
        href="http://ec2-3-111-53-182.ap-south-1.compute.amazonaws.com:8000/users/reset_password/<%= password_token.accessToken %>">Click
        here to reset
        your
        password!</a>

    <br>
    <br>
    <br>
    <p>
        Thanks & Regards! <br>
        Akhils Authenticator
    </p>
</div>